@import "../../constants/styles/vars.scss";

.header {
  background: $blue;
  color: $white;
  padding: 20px 0;
}

.left_inner,
.right_inner {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.right_inner {
  text-align: right;
}

.row {
  display: inline-block;
}

.logo {
  max-width: 250px;
}

.name {
  font-size: 28px;
  display: block;
  text-shadow: 0 1px 1px $dark_brown;
}

.city {
  display: inline-block;
  font-size: 15px;
  color: $dark_brown;
  margin-top: 5px;
}

.button {
  color: $white;
  text-shadow: 0 1px 1px $dark_brown;
  text-decoration: none;
  font-size: 19px;
  padding: 13px 20px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 10px;

  &:hover {
    background: $black;
  }
}

.middle {
  width: 100%;
  text-align: center;
  color: $dark_brown;
  margin-top: 50px;
}

.title {
  font-size: 63px;
}

.subtitle {
  font-size: 24px;
  margin-top: 10px;
  padding: 0 100px;
  font-style: italic;
}

.bottom {
  text-align: center;
  margin-top: 40px;
}

.color_select {
  margin-top: 20px;
  color: $dark_brown;
  text-align: center;
}

.heading {
  font-size: 24px;
}
