@import "../../constants/styles/vars.scss";

.checkbox {
  width: 15%;
  height: 180px;
  position: relative;
  display: inline-block;
  text-align: center;
  background: $white;
  color: $dark_brown;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 1%;
  border: 1px solid $light_gray;
}

.icon {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.image {
  width: 80px;
  margin: 0 auto;
}

.title {
  height: 40px;
}

.select {
  margin-top: 5px;
  width: 100%;
  background: $white;
  display: block;
  height: 30px;
}
