$black: #000;
$white: #fff;
$light_gray: #ccc;
$blue: #a5d2da;
$yellow: #ffcc00;
$orange: #f0ad4e;
$orange_hover: #eea236;
$green: #449d44;
$green_hover: #398439;
$gray: #999;
$dark_brown: #333;
$box_shadow: #bdbdbd;
